<html>
    <head>
        <title>팝업</title>
        <style>
           body,div {margin:0;padding:0}
	       img{vertical-align:top; border:0;}
	       a,a:hover{text-decoration:none;}

            #div_laypopup1{
            display:none;
            position:absolute;
            width:425px; height:510px;
            left:700px; top:94px;
            color:white;
            text-align:center;
            z-index:5;
        }
	.todayClose{
            position:absolute; right:6px; bottom:5px;
            margin:0; padding:0;
            color:#fff;
        }
	.todayClose input{vertical-align:middle;}
	.justClose{
            display:inline-block;
            font-family:"Malgun Gothic";
            color:#000;
            cursor:pointer;
            line-height: 1.2em;
            border:1px solid #ccc;
            padding:0px 2px 1px 2px;
            margin-left:3px;
            background-color:#FFF;
        }

        </style>
    </head>
    <body>
        <div id="div_laypopup1" name="div_laypopup1">
            <img src="http://placehold.it/425x510">
            

        </div>
        
    </body>
</html>