<html>
    <head>
        <title>로그인</title>
    </head>
    <body>
        <!-- 폼 전송을 위한 폼(일반 폼 전송) -->
        <form id="form_submit" action="/user/profile" method="POST">
            <input type="hidden" name="id">        
        </form>
         <!-- 보이는 로그인 폼 (동적 폼 전송) -->
         <form id="login_form">
            <fieldset style="width: 300">
            <legend>로그인</legend>
            <input type="text" name="Id" placeholder="아이디"> <br>
            <input type="text" name="Password" placeholder="비밀번호"> <br><br>
            <!-- 로그인에 실패했을때 실패 문구를 추가해줄 곳 -->
            <div style="height: 30; color: orangered;"></div>
            <button type="button" onclick="login();">로그인</button>
            </fieldset>
         </form>
    </body>
</html>
