<html>
    <head>
        <title>Axios</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            function sendGet(){
                axios({
                    method: "GET",
                    url: "http://localhost:8080/receive",
                    params: { 
                        name: "codee"
                    }
                }).then((a) => {return a.data;})
                .then((d) =>{

                 alert(d.message);
            });
        }
        function sendForm(){
            var form = document.getElementById("form_info");
            console.log( form );

            var result = form.checkValidity();
            if (!result){
                form.reportValidity();
                
                
                return false;
            }
            console.log( result );
            // console.log( form.name.value);
            // console.log( form.age.value);
            // axios({
            //         method: "GET",
            //         url: "http://localhost:8080/receive",
            //         data: { 
            //             name: form.name.value
            //         }
            //     }).then((a) => {return a.data;})
            //     .then((d) =>{
            //      alert(d.message);
            // });
        }
        </script>

    </head>
    <body>
        <form action="/receive">
            <button type="button" onclick="sendPost();">ë²„íŠ¼</button>
        </form>
        <button onclick="sendGet();">sendGet</button>
        <button onclick="sendPost();">sendPost</button>      
        
        <form id="form_info">
            <input type="text" name="name" required>
            <input type="text" name="age" required>
            <button type="button" onclick="sendForm();">sendForm</button>  
        </form>
   </body>
</html>


<!-- 
/**
   To. ì •í™”ë‹˜

   ì •í™”ëŠ” ì„¸ìƒì—ì„œ ì œì¼ ë‚˜ìœ ì˜¤ë¥˜ê°€ ë¬´ì—‡ì¸ì§€ ì•„ì‹œë‚˜ìš”?
   ë°”ë¡œ ì˜¤íƒ€ëžë‹ˆë‹¤.
   d.a.t.a ë°ì´í„°ë¥¼ ë³´ë‚¼ ë•ŒëŠ” dataë¼ê³  ì“°ëŠ” ê±°ì˜ˆìš”^^ ^^ ^^ ^^ ^^ ^^ ^^
   codee ì´ë¦„ì€ ë°ì´íŠ¸ ë§ê³  ë°ì´í„°ì— ë³´ë‚´ì£¼ì„¸ìš” ðŸ˜Š

   From. ê·œë¦¬ìŒ¤
**/ -->