<html>
    <head>
    
    </head>
    <body>
        <p>
            <%=a%>
        </p>
        <% for ( var i = 0; i < 5; i++ ) { %>
            <% if ( i == 3 ) { %>
                <h3>HI</h3>
            <% } else { %>
                <h1>hey</h1>
            <% } %>

            <% var a = 'hello'; %>
            <p><%=a%</p>

            <% include('test2.ejs') %>
    </body>
</html>