<div>
        <img class="img1" width="150" height="150" src="/abc/ex06.png">
        <img class="img2" width="200" height="100" src="/abc/ex06.png">
        <img class="img3" width="200" height="100" src="/abc/ex06.png">
        <img class="img4" width="100" height="100" src="/abc/ex06.png">
</div>