<html>
    <head>
        <title> Join.ejs</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>      
        
        <link rel="stylesheet" href="/css/register.css">

        <script>
            //alert를 띄우기 위한 동적 폼 전송 이용.
            function register(){
                let form = document.getElementById("form_register");

                //유효성 검사 만족했는지에 확인->
                let result = form.checkValidity();
                if (!result){
                    form.reportValidity();
                    return false;
                }
                
                axios({
                    method: 'post',
                    url: 'http://localhost:8080/user/register',
                    data:{
                        id: form.Id.value,
                        password: form.Password.value,
                        name: form.name.value, 
                        email: form.email.value,                       
                        profile: form.picture.value
                    }
                    //input창에 입력된 4개의 정보를 데이터로 보내준다. 
                })
                .then((rep) => {
                    return rep.data;
                }).then((data) => {
                    //controller의 res.send("성공적으로 회원가입되었습니다~") 그래서 data = "성공적~"
                    alert(data.name + "님 환영합니다.");
                    

                    window.location.href = "/user/login";
                })
            }

            // function chooseProfile(img){
            //     let form = document.getElementById("form_register");
            //     console.log(img);
            //     form.picture.value = img;
            // } 

      
        </script>
        
    </head>

    <body>
        <div id="container">
            <h1>회원가입</h1>
            <form id="form_register">
                <input type="text" name="Id" placeholder="아이디를 입력하세요" required> <br>
                <!-- <button type="button" id="check" onclick="icCheck()">중복체크</button>
                <p id="result"></p></li> -->
             
                <input type="password" name="Password" placeholder="비밀번호를 입력하세요" required> <br>
                <input type="text" name="name" placeholder="이름" required>
                <input type="email" name="email" placeholder="Email을 입력하세요" required>           
                <br>
                <!-- <img src="/img/img1.png" style="width: 100" onclick="chooseProfile('img1')">
                <img src="/img/img2.png" style="width: 100" onclick="chooseProfile('img2')">
                <img src="/img/img3.png" style="width: 100" onclick="chooseProfile('img3')">
                <img src="/img/img4.png" style="width: 100" onclick="chooseProfile('img4')">
                <img src="/img/img5.png" style="width: 100" onclick="chooseProfile('img5')"> -->
                <div>
                    <img src="/img/img1.png" style="width: 100" name="img1">
                    <img src="/img/img2.png" style="width: 100" name="img2">
                    <img src="/img/img3.png" style="width: 100" name="img3">
                    <img src="/img/img4.png" style="width: 100" name="img4">
                    <img src="/img/img5.png" style="width: 100" name="img5">
                </div>
    
                <input type="hidden" name="picture"> <br>
                <button type="button" onclick="register();" >회원가입</button>
            </form>
        </div>

        <footer>
        </footer>

        <script>

            $("img").on("click", function( obj ) {
                let form = document.getElementById("form_register");
                let target = obj.currentTarget;
                let brothers = $(target).siblings();

                form.picture.value = target['name'];

                console.log(target);
                console.log(brothers);

                $(target).css("border", "2px solid black");
                $(brothers).css("border", "none");
            });
        </script>
    </body>
</html>